@import "tailwindcss";

@theme {
  --color-primary: #064631;
  --color-secondary: #10b77f;
  
  --font-heading: 'Montserrat', sans-serif;
  --font-sans: 'Roboto', sans-serif;
}

@layer base {
  body {
    background-color: #e5e7eb;
  }
  
  h1 {
    font-size: 3rem;
    font-family: var(--font-heading);
    color: var(--color-primary);
  }
  
  h2 {
    color: #677e77;
  }
  .text-destact{
    color: var(--color-secondary);
  }
}

@layer utilities {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
}